@charset "utf-8";
/* CSS Document */
html{
	font-size: 62.5%;
	font:normal 100% "微软雅黑";
}
body{
	background-image:url(../img/bg2.jpg);
}
#ad{
	width:200px;
	height:200px;
	background:url(../img/15.jpg);
	position:absolute;
	z-index: 100;
}
* {
	padding: 0px;
	margin: 0px;
}
.container{
	width: 90%;
	margin: 0 auto 10px auto;
	height:500px;
}
#logo{
	display: inline-block;
	width: 8%;
	height: 60px;
	top: 0;
}
#logo a h1{
	font-size: 1.3rem;
	color:white;
	display: inline-block;
	text-align: center;
	margin: auto;
	width: 100%;
}
#logo a{
	width: 80%;
	text-decoration: none;
	margin: 20px 0;
	line-height:60px;
}
#header{
	width: 90%;
	margin:0 auto;
	height: 60px;
}
#search{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 70%;
	width: 20%;
}
#search input[type="search"]{
	font-family: "微软雅黑";
	background:#f3f3f3;
	border: solid 1px #ccc;
	height: 40px;
	line-height: 40px;
	width: 80%;
	font-size: 1.4em;
	padding-left: 2%;
	display: inline-block;
	vertical-align: top;
}
#search input[type="submit"]{
	font-family: "微软雅黑";
	background-color: #B4B4B4;
	color: #FFFFFF;
	border: solid 1px #b4b4b4;
	height:40px;
	display: inline-block;
	font-size: 1.4em;
	width: 20%;
} 
#nav{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color:black;
	display:inline-block;
}
#nav ul{
	display: relative;
	height: 60px;
	width: 100%;
}
#nav ul li{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 7%;
	font-size: 1.3em;
}
#nav ul li a{
	display: inline-block;
	line-height: 60px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	transition: background 0.5s linear;
	height:  60px;
}
#nav ul a:hover{
	background-color: indianred;

}
.wrap{
	height: 600px;
	width: 90%;
	margin:auto; 
	overflow: hidden;
	position: relative;
}
.wrap ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.wrap ul li{
	height: 600px;
}
.wrap ul li img{
	height: 600px;
	width:100%;
}
.wrap ol{
	position: absolute;
	right: 10px;
	bottom: 10px;
	list-style: none;
}
.wrap ol li{
	height: 20px;
	width: 20px;  
	background-color:#fff;
	border: 1px solid #eee; 
	margin-left: 10px;
	float:left; 
	line-height: 20px; 
	text-align: center;
}
.wrap ol li.active{
	background-color: #330099; 
	color: #fff; 
	border: 2px solid green;
}
.article{
	height: auto;
	width: 90%;
}
.article-section h2{
	margin: 20px auto 20px auto;
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 2em;
	color:indianred;
}
.article-section{
	width:90%;
	height: 560px;
	margin:0px auto 20px auto;
}
.article-section .image-box{
	width: 100%;
	height: 560px;
	index:-1;
}
.article-section .image-box ul{
	width: 100%; 
}
.article-section .image-box li{
	width: 17%;
	height: 240px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-top: 10px;
	list-style: none;
	float: left;
	position: relative;
}
.article-section .image-box a{
	text-decoration: none;
}
.article-section li img{
	width:100%;
	height: 240px;
}
.image-box li span{
	display: none;
}
.image-box li a:hover span{
	width: 100%;
	height: 240px;
	line-height: 20px;
	text-align: center;
	background: #000;
	display: block;
	position: absolute;
	top: 0;
	left:0;
	color: #FFFFFF;
	opacity: 0.6;
	font-weight: bold;
}
.image-box a:hover span h3{
	margin:10% auto 5% auto;
	height: 30px;
	font-weight: bolder;
}
footer section{
	background-color: darkgray;
	height: 30px;
	width: 100%;
	margin: 0 auto;
}
footer a {
	display:inline-block;
	color: #fff;
	text-decoration: none;
	width: 10%;
	text-align: right;
	line-height: 30px;
	font-size: 1.6em;
	height: 40px;
}
#footer .container1{
	width: 90%;
	height:auto;
	margin: auto;
}


