@charset "utf-8";
/* CSS Document */
html{
	font-size: 62.5%
	font:normal 100% "微软雅黑";
}
body{
	background-image:url(../img/bg2.jpg);
}
* {
	padding: 0px;
	margin: 0px;
}
.container{
	width: 90%;
	margin: 0 auto 10px auto;
	height:500px;
}
#logo{
	display: inline-block;
	width: 8%;
	height: 60px;
	top: 0;
}
#logo a h1{
	font-size: 1.3rem;
	color:white;
	display: inline-block;
	text-align: center;
	margin: auto;
	width: 100%;
}
#logo a{
	width: 80%;
	text-decoration: none;
	margin: 20px 0;
	line-height:60px;
}
#header{
	width: 90%;
	margin:0 auto;
	height: 60px;
}
#search{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 70%;
	width: 20%;
}
#search input[type="search"]{
	font-family: "微软雅黑";
	background:#f3f3f3;
	border: solid 1px #ccc;
	height: 40px;
	line-height: 40px;
	width: 80%;
	font-size: 1.4em;
	padding-left: 2%;
	display: inline-block;
	vertical-align: top;
}
#search input[type="submit"]{
	font-family: "微软雅黑";
	background-color: #B4B4B4;
	color: #FFFFFF;
	border: solid 1px #b4b4b4;
	height:40px;
	display: inline-block;
	font-size: 1.4em;
	width: 20%;
} 
#nav{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color:black;
	display:inline-block;
}
#nav ul{
	display: relative;
	height: 60px;
	width: 100%;
}
#nav ul li{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 7%;
	font-size: 1.3em;
}
#nav ul li a{
	display: inline-block;
	line-height: 60px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	transition: background 0.5s linear;
	height:  60px;
}
#nav ul a:hover{
	background-color: indianred;

}
footer section{
	background-color: darkgray;
	height: 30px;
	margin: 0 auto;
}
footer a {
	display:inline-block;
	color: #fff;
	text-decoration: none;
	width: 10%;
	text-align: right;
	line-height: 30px;
	font-size: 1.6em;
	height: 40px;
}
#footer .container1{
	width: 90%;
	height:auto;
	margin: auto;
}
.category{
	width: 90%;
	margin:0 auto;
}
.category h2{
	text-align: center;
	font-size: 2em;
	width: 100%;
	margin: 20px auto;
	color: indianred;
	border-bottom: solid 1px #A76263; 
}
.category .name ul{
	text-decoration: none;
	text-align:center;
	width: 80%;
	margin: 10px auto 10px auto;
}
.category .name ul li {
	display: inline-block;
	width: 15%;
	margin-top: 10px;
}
.category .name ul a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: indianred;
	width: 100%;
	margin-top: 10px;
	font-size: 1.5em;
}
.category .name ul a:hover{
	color: #F3BA13;
}
.category .name{
	width: 100%;
	height:750px;
	background-color:antiquewhite;
	margin: 10px auto;
	
}
.category .name iframe{
	width: 90%;
	height: 680px;
	margin: 10px 5%;
	border: none;
	vertical-align: center;
}

